<!-- Header Component -->
<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="/Alttab_web/index.html" class="logo">
                <img src="/Alttab_web/assets/images/logo/logo.png" alt="Alt tab Corp Logo">
            </a>
            <ul class="nav-menu">
                <li><a href="/Alttab_web/index.html" class="nav-link">Início</a></li>
                <li><a href="/Alttab_web/pages/sobre/" class="nav-link">Sobre</a></li>
                <li class="nav-item nav-dropdown">
                    <a href="/Alttab_web/pages/servicos/" class="nav-link">Serviços <span class="dropdown-arrow">&#9662;</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Alttab_web/pages/consultoria/" class="dropdown-link">Consultoria TI</a></li>
                        <li><a href="/Alttab_web/pages/web/" class="dropdown-link">Desenvolvimento Web</a></li>
                        <li><a href="/Alttab_web/pages/impressao3d/" class="dropdown-link">Impressão 3D</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="nav-item nav-dropdown">
                            <a href="/Alttab_web/pages/esports/" class="nav-link">E-Sports <span class="dropdown-arrow">&#9662;</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Alttab_web/pages/esports/estudio/" class="dropdown-link">Estúdio de Jogos</a></li>
                                <li><a href="/Alttab_web/pages/esports/time/" class="dropdown-link">Time E-sports</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/Alttab_web/pages/contato/" class="nav-link">Contato</a></li>
            </ul>
            <button class="mobile-menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header> 